<div class="main-content">
    <div class="container-fluid">
       <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">phone Number</th>
                    <th scope="col">Total Followers</th>
                    <th scope="col">Total Following</th>
                    <th scope="col">Date Joined</th>
                    <th scope="col"> Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.followers.length}}</td>
                    <td>{{user.following.length}}</td>
                    <td>{{ user.bio.substring(0,10) }}</td>
                    <td>
                        <button class="btn btn-primary"  
                           (click)="openDetails(user)"> view</button>
                      </td>
                  </tr>                
                </tbody>
              </table>
        </div>
       </div>
        
    </div>
</div>